<form action='api/students' method='POST' id="form">     
        <table>
        <tr><td><label for="id">ID</label></td>
        <td><input type="text" id='id' name='id' value=''/></td></tr>
        <tr><td><label for="name">Name</label></td>
        <td><input type="text" id='name' name="name"  value=''/></td></tr> 
        <tr><td><label for="name">Age</label></td>
        <td><input type="text" id='age' name="age"  value=''/></td></tr>
        <tr><td><label for="name">Stream</label></td>
        <td><input type="text" id='stream' name="stream"  value=''/></td></tr>
        </table>
        <button class="btn" type="submit">Add Student</button>  
</form>

