<table border=1>
<td>ID</td><td>Name</td><td>Age</td><td>Stream</td>
{{#each data }}
     <tr></tr>
     <td>{{ this.id }}</td><td>{{ this.name }}</td><td>{{ this.age }}</td><td>{{ this.stream}}</td>
     </tr>
{{/each}}
</table>